@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&family=Protest+Strike&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #171717;
  animation: changeBackgroundGradient 20s infinite;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@keyframes changeBackgroundGradient {
  0% {
    background: radial-gradient(circle, #222849, #05050a);
  }
  25% {
    background: linear-gradient(to right, #141a2c, #040407);
  }
  50% {
    background: radial-gradient(circle, #080a12, #030305);
  }
  75% {
    background: linear-gradient(to left, #070911, #020204);
  }
  100% {
    background: radial-gradient(circle, #06080e, #010103);
  }
}

.supremeContainer {
  display: flex;
  flex-direction: column;
 
  border-radius: 10px;
  margin: 20px auto;
/*   max-width: 1800px; */
  min-width: 100px;
  min-height: 1450px;
  background: transparent;
  background-color: hsla(240, 1%, 55%, 0.7);
  /* position: relative; */
  overflow: hidden;
}

header {
  background-color: rgba(17, 74, 115, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
height: 250px;

}

.emanuele {
 /*  position: absolute; */
  width: 150px;
  border-radius: 50%;
  background-color: transparent;
 /*  left: 50px;
  top: 30px; */
 
}


.logoName {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
 
}

.nameImg {
  width: 500px;
  height: 80px;
  z-index: 2;
/*   margin: 70px auto auto 100px; */
}

.hamburgerMenu {
position: relative;
  margin-left: 240px;
  display: flex;
  flex-direction: column;

}

.menuIcon {

  width: 170px;
  height: 130px;
  
  cursor: pointer;

}

/* .last {
  position: absolute;
  top: 40px;
} */

.hidden {
  display: none;
}
.menuList {
  border-radius: 5px;
  list-style-type: none;

  position: absolute;
  top: 140px;
  left: 56px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menuList > li {
  width: 100px;
 
  font-family: "Architects Daughter";
  font-weight: 600;
  font-style: normal;
  background-color: #42beeb;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  
}
.menuList > li:hover {
  scale: 1.2;
}

.menuList .even {
  margin-left: 13px;
  margin-right: -13px;
}

.menuList .xItem {
  background-color: transparent;
}

#resetBtn {
  width: 40px;
  height: auto;
  font-size: 30px;
  color: black;
  background-color: transparent;
  border: none;
  font-family: "Architects Daughter";
  cursor: pointer;
}

#resetBtn:hover {
  scale: 1.2;
  color: yellow;
}

a {
  text-decoration: none;
  color: rgb(204, 87, 87);
}

a:hover {
  scale: 1.2;
  color: yellow;
}

#main-content {
  max-width: 1000px;
  min-height: 650px;
  background-color: rgba(115, 181, 228, 0.5);
  
  margin: 82px 180px auto 156px;
padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 25px 92px -15px rgba(33, 69, 105, 0.65);
  border-radius: 10px;
  border: 2px solid white;
 /*  position: relative; */
  overflow: hidden;
}

.main-header {
  width: 100%;
  height: 50px;
  display: flex;
 margin-left: 180px;
 margin-top: 30px;
  justify-content: flex-start;
  align-items: center;
}

.headerPic {
 
  width: 100px;
  height: auto;
}

.textArea > p {
  max-width: 800px;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  color: white;
  text-shadow: 1px 1px 1px #030202;
}

#typedText2 {
  color: yellow;
  text-shadow: 1px 1px 1px #a44025;
  align-self: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome {
  font-family: "Architects Daughter";
  font-weight: 800;
  font-style: normal;

  font-size: 50px;
  color: #ce5937;
  margin-left: 150px;

  animation: fadeIn 0.5s ease-in-out; /* Usa l'animazione fadeIn */
}
.textArea {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
align-items: center;
  font-family: "Architects Daughter";
  font-weight: 500;
  font-style: normal;

  padding: 5px;
}

.navigationBtn {
  padding: 6px;
  font-family: "Architects Daughter";
  font-weight: 600;
  font-style: normal;
  background-color: #42beeb;
  border: none;
  border-radius: 6px;
  color: rgb(204, 87, 87);
  cursor: pointer;
  box-shadow: 10px 25px 92px -15px rgba(231, 233, 235, 0.65);
}

.startBtn {
  
  font-size: 30px;
  animation: scaleAnimation 5s infinite alternate;
  align-self: center;
}

button:hover {
  scale: 1.1;
  color: yellow;
}

@keyframes scaleAnimation {
  to {
    transform: scale(1.2); /* Modifica la scala a tuo piacimento */
  }
}

.textArea > p > span {
  color: #fc5130;
}

.notVisible {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.visible {
  opacity: 1;
  transition: opacity 0.6s ease;
}

#overlay-content {
  width: 900px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#overlay-content > article {
  width: 850px;
  height: 380px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-items: center;
  position: relative;
}

#overlayInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
padding: auto 30px;
  line-height: 1.3;
  font-family: "Protest Riot", sans-serif;
  font-weight: 500;
  font-style: normal;
 /*   font-family: "Protest Strike", sans-serif;
  font-weight: 100; */
  font-size: 20px;
  color: black;
  height: 180px;
  animation: fadeIn 4s ease-in-out forwards;
}

#overlayInfoBox a {
  color: #c0bbbb;
}

#overlayInfoBox a:hover {
  color: yellow;
  scale: 1.1;
}

#overlayTitle {
  font-family: "Architects Daughter";
  font-weight: 600;
  text-shadow: 7px 2px 2px #ce5937;
  font-size: 48px;
  color: white;

  text-decoration: overline;
  margin-bottom: 22px;
}

#overlayList {
  margin-left: 15px;
  margin-top: 15px;
}

#overlay-header {
  display: flex;
  justify-content: center;
  margin-right: 120px;
  align-items: center;
}

#buttonsBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
/*   position: absolute;
  top: 340px; */
  margin-top: 52px;
}

#buttonsBox button {
  font-size: 22px;
}

.argumentsIcons {
  width: 170px;
  margin: auto 50px 50px 80px;
}

.skillsIcon {
  width: 26px;
}

.skills {
  padding: 10px;
  margin: auto 15px;
}

#progress-bar-container {
  width: 100%;
  height: 15px;
  background-color: #ddd;
  margin: auto;
}

#progress-bar {
  height: 100%;
  border: 1px solid yellow;
  background-color: #ce5937;
  transition: width 0.3s ease;
}

.signature {
  margin-left: 500px;
  margin-top: 50px;
  font-family: "Architects Daughter";
  font-weight: 600;
  font-size: 28px;
  color: white;
}

.bkgVideo2 {
  z-index: -1;
  position: absolute;
  width: 1400px;
  height: 800px;
  opacity: 0.1;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}
.bkgVideo1 {
  z-index: -2;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  opacity: 0.1;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}

.tawk-min-container {
  position: absolute;
  bottom: 2000px; /* Puoi regolare la posizione in base alle tue preferenze */
  right: 2000px;
}

#summering {
  position: absolute;
  top: 50px;
  left: 0px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color: rgba(115, 181, 228, 0.5);
  width: 1800px;
  height: 760px;
  position: relative;
}

#summering h2 {
  text-align: center;
  align-self: flex-start;
  margin-left: 530px;
  font-family: "Architects Daughter";
  font-weight: 600;
  text-shadow: 7px 2px 2px #ce5937;
  font-size: 48px;
  color: white;
}

.summeringWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  line-height: 1.3;
  font-family: "Protest Riot", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: black;
  margin-top: -100px;
}

.listWrapper {
  width: 290px;
  height: 200px;
  padding: 40px;
}

.listWrapper li {
  padding: 0.3rem;
}

.listWrapper h3 {
  background-color: #a44025;
  color: white;
  width: fit-content;
  padding: 4px;
  margin-bottom: 4px;
  margin-left: 52px;
}

#summering p {
  background-color: white;
  line-height: 1.3;
  font-family: "Protest Riot", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  color: black;
  padding: 2rem;
  margin-top: 50px;
}

.specialWord {
  text-decoration: underline;
  color: #a44025;
}

.bigCloseBtn {
  width: 40px;
  height: auto;
  font-size: 40px;
  color: black;
  background-color: transparent;
  border: none;
  font-family: "Architects Daughter";
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50px;
  right: 300px;
}

.gallery-container {
  width: 520px;
  height: 450px;
  overflow: hidden;
}

.gallery {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
  gap: 2.8rem;
  margin-left: 30px;
}

.gallery div {
  display: flex;
  flex-direction: column;
  height: 540px;
}

.slide h2 {
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

.slide {
  margin-top: 20px;
}

.slide-img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  border-radius: 10px;
  opacity: 0.5;
}

#prevBtn,
#nextBtn {
  padding: 10px;
  display: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  animation: fadeIn 0.8s ease-in-out;
}

#prevBtn:hover,
#nextBtn:hover {
  scale: 1.2;
  color: yellow;
}

#prevBtn {
  top: 458px;
  left: 495px;
}

#nextBtn {
  top: 458px;
  left: 1050px;
}

.center-slide img {
  scale: 1.3;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}


footer {

  width: 100%;
  height: 340px;
  margin-top: 0px;
  position: relative;
  background-color: rgba(17, 74, 115, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid white;
  
}

footer ul {
  list-style-type: none;
  color: white;
  margin-left: 50px;
  font-family: "Architects Daughter";
  font-size: 26px;
}

footer ul a {
  color: gray;
}

footer img {
  width: 500px;
  height: 280px;
  opacity: 0.7;
}
